@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-colors duration-200;
  }

  body {
    @apply antialiased;
    font-family: 'Inter', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Montserrat', sans-serif;
    @apply font-semibold;
  }

  h1 {
    @apply text-5xl leading-tight;
  }

  h2 {
    @apply text-4xl leading-tight;
  }

  h3 {
    @apply text-3xl leading-snug;
  }

  h4 {
    @apply text-2xl leading-snug;
  }

  h5 {
    @apply text-xl leading-normal;
  }

  h6 {
    @apply text-lg leading-normal;
  }

  button {
    font-family: 'Poppins', sans-serif;
  }
}